div{
    background-color: blue;
    height: 300px;
    width: 300px;
    position:absolute;
}
input{
    width: 100px;
}
input{
    display: block;
}
button{
    display: block;
    margin-top: 25px;
}

.fa-instagram{
    font-size: 200px;
}